<mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/dashboard']">
      <mat-icon>home</mat-icon>
    </button>
    
    <span class="spacer"></span>
    
    
  <mat-menu #servicesMenu="matMenu">
    <button mat-menu-item [routerLink]="['/placement']">
      <mat-icon>work</mat-icon>
      Placement
    </button>
    <button mat-menu-item [routerLink]="['/pyq']">
      <mat-icon>description</mat-icon>
      PYQ
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="servicesMenu">
    <mat-icon>apps</mat-icon>
    Services
  </button>

    
    <button mat-button [routerLink]="['/infrastructure']">
      <mat-icon>account_balance</mat-icon> Infrastructure
    </button>
    
    <button mat-button [routerLink]="['/leaves']">
      <mat-icon>event_note</mat-icon> Leaves
    </button>
    
    <button mat-button [routerLink]="['/complaints']">
      <mat-icon>help</mat-icon> Complaints
    </button>
    
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Laboratory">
      <!-- Content for Laboratory tab -->
      <div *ngIf="isLaboratoryTabActive" class="add-button-container">
        <button mat-fab color="primary" class="add-button">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Classroom">
      <!-- Content for Classroom tab -->
    </mat-tab>
    <mat-tab label="Inventory">
      <!-- Content for Inventory tab -->
    </mat-tab>
  </mat-tab-group>
  